/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap');

/* ALL */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}

/* Variables */
:root {
    --mff: "Cairo Play";
    --sff: "Rubik";
}

/* Animations */
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    100% {
        opacity: 0;
    }
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes leftright {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rightleft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes spin1 {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    75% {
        transform: rotateZ(180deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(180deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    75% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes blurin {
    0% {
        backdrop-filter: blur(0px);
    }

    100% {
        backdrop-filter: blur(10px);
    }
}

/* loader */
.Load {
    height: 100vh;
    overflow: hidden;
    margin: auto;
    position: fixed;
    z-index: 9999;
}

.Load::backdrop {
    backdrop-filter: blur(5px);
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.quater {
    height: 1.5cm;
    width: 1.5cm;
    background-color: skyblue;
    float: left;
    position: relative;
    bottom: 1.25cm;
}

.i {
    border-top-left-radius: 100%;
    animation: spin1 2s ease-in-out infinite;
    transform-origin: 1.5cm 1.5cm;
}

.ii {
    border-top-right-radius: 100%;
    animation: spin2 2s ease-in-out infinite;
    transform-origin: 0 1.5cm;
}

/* HTML */
html {
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    font-size: 16px;
    font-family: var(--sff);
    overflow-x: hidden;
}

/* Dark Mode */
.dark-mode {
    --Green: rgb(0, 64, 0);
    --Gold: rgb(255, 180, 0);
    --Black: rgb(255, 255, 255);
    --White: rgb(0, 0, 0);

    /* Modern and Elegant Colors */
    --Navy-Blue: rgb(0, 0, 150);
    --Soft-Gray: rgb(96, 96, 96);
    --Cream: rgb(255, 240, 200);
}

/* body */
body {
    width: 100%;
    height: 100%;
    background: var(--White);

    /* Traditional */
    --Green: rgb(0, 128, 0);
    --Gold: rgb(255, 215, 0);
    --Black: rgb(0, 0, 0);
    --White: rgb(255, 255, 255);

    /* Modern and Elegant Colors */
    --Navy-Blue: rgb(0, 0, 128);
    --Soft-Gray: rgb(128, 128, 128);
    --Cream: rgb(255, 240, 200);
}

/* ANY ANCHOR TAG */
a {
    text-decoration: none;
    color: black;
}

/* ANY DIALOG WHEN IT OPENS */
dialog {
    background: none;
    margin: auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px var(--Black);
    /* Add display */
    transition: opacity 0.7s ease-in, display 0.7s ease-in;

    /* Add transition-behavior */
    transition-behavior: allow-discrete;

    /* Style when open */
    opacity: 1;
}

/* The style when closed */
@starting-style {
    dialog {
        animation: blurin 0.7s ease-in 1 alternate;
        opacity: 0;
    }
}

dialog::backdrop {
    animation: blurin 0.7s ease-in 1 alternate;
}

/* The style when opened */
dialog:has([open])+body {
    overflow: hidden;
}

/* The style when closed */
dialog:not([open]) {
    animation: blurin 0.7s ease-in 1 alternate;
    z-index: 999999;
    opacity: 0;
}

/* ANY BACKDROP DIALOG */
dialog::backdrop {
    backdrop-filter: blur(10px);
}

/* ANY INPUT WITH TYPE RADIO */
input[type="radio"] {
    display: none;
}

/* ANY IMAGE OR SVG OR VIDEO */
img,
svg,
video {
    pointer-events: none;
}

/* ANY BUTTONS */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ANY TEXTAREA */
textarea {
    resize: none;
    font-family: var(--mff);
}

/* WEBKIT SCROLL-BAR */
::-webkit-scrollbar-corner {
    width: 0px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--Navy-Blue);
}

/* Error Dialog */
.alert1 {
    margin: auto;
    height: max-content;
    width: max-content;
    max-width: 90dvw;
    border-radius: 20px;
}

.alert1items {
    background: var(--White);
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
}

.alertHeader {
    color: var(--Black);
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.alert1text {
    color: var(--Black);
    text-align: center;
}

.exitalert1 {
    background: var(--Cream);
    padding: 10px;
    border-radius: 10px;
}

/* Follows */
.Follows {
    margin: auto;
    height: max-content;
    width: 90vw;
    border-radius: 20px;
    z-index: 999;
    overflow: hidden;
}

.followsitems {
    padding: 20px;
    background: var(--White);
    position: relative;
    width: 100%;
    height: 100%;
}

.followHeader {
    color: var(--Black);
    display: flex;
    gap: 15px;
}

.socials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 100%;
    gap: 20px;
}

.social-item {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--Black);
    border-radius: 15px 0;
    cursor: pointer;

    &:hover {
        transform: translateY(-7px);
        box-shadow: 0 0 10px var(--Black);
        border-color: var(--Gold);
    }
}

.social-item a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--Black);
}

.social-item a::before {
    width: 0;
    height: 0;
    background: none;
}

.Followsclose {
    background: var(--Cream);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Contact Us */
.callus {
    margin: auto;
    height: max-content;
    width: 90vw;
    border-radius: 20px;
    z-index: 999;
    overflow: hidden;
}

.callusitems {
    padding: 20px;
    background: var(--White);
    position: relative;
    width: 100%;
    height: 100%;
}

.callusHeader {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    color: var(--Black);
}

.callusclose {
    background: var(--Cream);
    padding: 10px;
    border-radius: 10px;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    width: 100%;
}

.number {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    gap: 10px;
    border: 2px solid var(--Black);
    border-radius: 15px 0;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        transform: translateY(-7px);
        box-shadow: 0 0 10px var(--Black);
        border-color: var(--Gold);
    }
}

.number a {
    color: var(--Black);
    width: 100%;
}

.additions {
    display: none;
}

/* Side Bar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    height: 100dvh;
    width: 100dvw;
    z-index: 1000;
}

.sidebar[aria-opened="false"] {
    right: -101%;
}

.sidebar[aria-opened="true"] {
    right: 0;
}

.sidebarwrapper {
    overflow: auto;
    border-radius: 20px 0 0 20px;
    padding: 20px;
    height: 100%;
    width: max-content;
    background: var(--Black);
    transition: all 0.7s ease;
}

.sidebarheader {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    color: var(--White);
}

.sidebarclose {
    border-radius: 10px;
    background: var(--Cream);
    padding: 10px;
}

.sidebarcontent {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.sidebarcontent ul {
    overflow: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    gap: 15px;
}

.sidebarcontent ul li button {
    height: 50px;
    width: 300px;
    color: var(--Black);
    background: var(--White);
    font-size: 25px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;

    &:hover {
        background: var(--Gold);
    }
}

.screen_condition {
    color: var(--Black)
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.rightdevsection {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--Black);
}

.rightdevsection>img {
    border-radius: 20px;
}

.leftdevsection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.leftdevsection ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.leftdevsection ul button {
    font-size: 25px;
    background: none;
    font-family: var(--sff);
    font-weight: 700;
    transition: 1s;
    position: relative;
    display: inline-block;
    color: var(--Black);
}

.darkmode {
    background: none;
    color: var(--Black)
}

.darkmode svg:last-child {
    display: none;
}

body.dark-mode .darkmode>svg:first-child {
    display: none;
}

body.dark-mode .darkmode>svg:last-child {
    display: inline;
}

.leftdevsection ul li button::before {
    content: "";
    position: absolute;
    bottom: -8px;
    background: var(--Green);
    height: 3px;
    width: 0%;
    transition: 0.3s ease-in-out;
}

.leftdevsection ul li button:hover::before {
    width: 100%;
}

.hidden,
.screen_tabs {
    display: none;
}

.hidden {
    gap: 10px;
}

.screen_condition {
    background: none;
}

/* navbar */
.tabs {
    border-bottom: 3px solid var(--Gold);
    border-top: 3px solid var(--Gold);
    width: 100%;
    height: 120px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
}

.tab-label {
    font-size: 25px;
    font-weight: 700;
    font-family: var(--sff);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--Black);
    transition: 0.3s;
}

.tab-label:hover {
    background: var(--Gold);
}

.NavScreen {
    display: none;
    position: relative;
    width: 100%;
    max-width: 600px;
    border: 2px solid var(--Black);
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    transition: max-height 0.5s ease-in-out;
    z-index: 999;
}

.NavScreen summary {
    list-style-type: '⬇ ';
    padding: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 25px;
    color: var(--Black);
    transition: all 0.7s ease-in-out;
}

.NavScreen ul {
    list-style: none;
    position: fixed;
    top: 177px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    width: 100%;
    z-index: 10000;
}

.NavScreen li {
    width: 100%;
}

.NavScreen label {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background: var(--Black);
    padding: 10px;
    color: var(--White);
    text-align: center;
}

.active {
    display: block;
    animation: fade 1s ease 1 alternate;
}

section:not(.active) {
    display: none;
}

/* headers */
.header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 10px 0 10px;
    order: 2;
    color: var(--Black);
}

/* HolyQuran */
.surahs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.surah {
    width: 100%;
    border: 3px solid var(--Black);
    border-radius: 20px 0px;
    padding: 20px;
    font-family: var(--mff);
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
}

.surah:hover {
    transform: translateY(-10px);
    border-color: var(--Gold);
    box-shadow: 0 0 10px var(--Black);
}

.tafser {
    margin: 10px 0 10px 0;
}

.surahName {
    color: var(--Black);
    font-size: 30px;
}

.surahOrder,
.surahVerses,
.surahType {
    color: var(--Black);
    font-size: 20px;
}

.surahName::before {
    content: "سورة ";
}

.surahOrder::before {
    content: "رقم السورة: ";
}

.surahVerses::before {
    content: "عدد الآيات: ";
}

.surahType::before {
    content: "النزول: ";
}

.showall {
    width: 436px;
    height: 56px;
    border-radius: 0 0 10px 10px;
    background: var(--White);
    font-weight: 600;
    font-size: 25px;
    font-family: var(--sff);
    border: 2px solid var(--Black);
    border-top: none;
    box-shadow: 0 0 10px var(--Black);
}

.clearButton {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.Clear {
    display: flex;
    border-radius: 10px;
    background: var(--Gold);
    font-size: 20px;
    font-family: var(--sff);
    font-weight: 700;
    padding: 10px;
}

.Clear:disabled {
    color: var(--Navy-Blue)
}

.surah>button,
.listen>button {
    width: 100%;
    border-radius: 10px;
    background: var(--Cream);
    color: var(--Navy-Blue);
    font-family: var(--mff);
    font-size: 30px;
    font-weight: 600;
    transition: 0.4s;
    height: 56px;
}

.surah>button:hover,
.listen>button:hover {
    background: var(--Gold);
}

.surahinput {
    background: var(--White);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.surahInputWrapper {
    box-shadow: 0 0 20px var(--Black);
    width: max-content;
    height: max-content;
    border: 2px solid var(--Black);
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--Black);
}

.surahInputWrapper>input {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 0 5px 0 0;
    font-size: 30px;
    font-family: var(--sff);
    color: var(--Black);
    background: var(--White);
}

.surahInputWrapper>input::placeholder {
    color: var(--Black);
}

.showall {
    color: var(--Black);
    box-shadow: 0 0 20px var(--Black);
    background: var(--White);
}

.findsurah {
    background: var(--White);
    color: var(--Black);
    width: 50px;
    height: 56px;
    background: none;
    border-right: 2px solid var(--Black);
}

.listen {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* Names Of Allah */
.names {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 20px;
    gap: 20px;
    margin-top: 8px;
}

.name {
    padding: 10px;
    border-radius: 10px 0px;
    border: 3px solid var(--Black);
    cursor: pointer;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--Black);
}

.name:hover {
    transform: translateY(-10px);
    border-color: var(--Gold);
    box-shadow: 0 0 10px var(--Black);
}

/* Counter Azkar */
.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 320px);
}

#counter_azkar {
    font-size: 60px;
    color: var(--Navy-Blue);
    font-weight: 700;
    font-family: var(--sff);
}

#saved_azkar {
    font-size: 20px;
    font-family: var(--sff);
    margin-top: 20px;
    font-weight: 700;
    color: var(--Navy-Blue);
}

.counter_azkar {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    padding: 0px 50px;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--sff);
    background: var(--Gold);
    color: var(--Navy-Blue);
    transition: 0.1s ease;
    margin-top: 10px;

    &:hover {
        background-color: var(--Cream);
    }
}

/* prayers */
.pray {
    width: 100%;
    margin-bottom: 100px;
}

.prayers {
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#prayer {
    padding: 20px;
    background: var(--Gold);
    color: var(--Green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    border-radius: 10px;
    cursor: pointer;
}

#prayer:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px var(--Black);
}

#prayer>h3 {
    font-size: 30px;
}

#prayer>p {
    font-size: 20px;
    font-weight: 700;
}

#prayer img {
    width: 50px;
}

.maindata {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.countryinput {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.countryInputWrapper {
    box-shadow: 0 0 20px var(--Black);
    width: max-content;
    height: max-content;
    border: 2px solid var(--Black);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.countryInputWrapper>input {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 30px;
    font-family: var(--sff);
    color: var(--Black);
    background: var(--White);
}

.countryInputWrapper>input::placeholder {
    color: var(--Black)
}

.findcountry {
    width: 50px;
    height: 56px;
    background: none;
    border-right: 2px solid var(--Black);
    color: var(--Black);
}

/* Date */
.timeshow {
    height: calc(100dvh - (120px + 80px + 60px));
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--mff);
    color: var(--Black);
}

/* My Projects */
.Projects {
    display: grid;
    gap: 20px;
    width: 100%;
    padding: 20px;
    margin-top: 8px;
}

.project {
    padding: 10px;
    border-radius: 10px 0px;
    border: 3px solid var(--Black);
    cursor: pointer;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:hover {
        transform: translateY(-10px);
        border-color: var(--Gold);
        box-shadow: 0 0 10px var(--Black);
    }
}

.project h1 {
    color: var(--Black);
}

.project p {
    color: var(--Black);
    font-size: 1.1rem
}

.project a {
    color: var(--Navy-Blue);

    &:hover {
        text-decoration: underline;
    }
}

/* Media Querys */
@media screen and (max-width:950px) {
    .surahs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:781px) {
    .tabs {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:800px) {
    .surahs {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:625px) {
    .tabs>label {
        display: none;
    }

    .tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;
        width: 100%;
    }

    .NavScreen {
        margin: 20px 20px 0 20px;
        display: block;
        width: 100%;
    }

    .timeshow {
        height: calc(100dvh - (156px + 80px + 60px));
    }

    .tab-label {
        height: 50px;
        font-size: 20px;
    }
}

@media screen and (max-width:520px) {
    #prayer {
        width: 90vw;
    }

    .prayers {
        padding: 10px 10px 70px 10px;
    }

    .socials,
    .numbers {
        grid-template-columns: repeat(1, 1fr);
    }

    .callus,
    .Follows {
        max-height: 90vh;
    }
}

@media screen and (max-width: 450px) {
    .additions {
        display: inline;
    }

    .estefsarname {
        display: none;
    }
}

@media screen and (max-width:440px) {

    .surahInputWrapper,
    .countryInputWrapper,
    .showall {
        width: 93vw;
        justify-content: center;
        align-items: center;
    }

    .leftdevsection {
        display: none;
    }

    .hidden {
        display: flex;
    }
}

@media screen and (max-width:400px) {
    #counter_azkar {
        font-size: 40px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:385px) {
    .additions {
        font-size: 20px;
    }
}

@media screen and (max-width:313px) {

    .surahInputWrapper>input {
        font-size: 20px;
    }

    .status {
        font-size: 15px;
    }

    #two {
        font-size: 15px;
    }
}

@media screen and (max-width:292px) {
    .additions {
        font-size: 15px;
    }
}